.proces .insta {
    text-align: center;
}

/* Scroll container */
.devices {
    display: flex;
    flex-direction: column;
    gap: 3rem;              
    margin: 4rem 0;
}

.devices section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding: 2rem 1rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

.devices section.visible {
    opacity: 1;
    transform: translateY(0);
}

.devices img {
    width: 80%;
    max-width: 320px;
    height: auto;
    margin-bottom: 1rem;
}

.devices .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1.5rem;
}

.devices h2 {
    width: 80%;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--blueDetail1);
}

.devices p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--base2);
}



.laptop {
    display: flex;
    justify-content: center;
}

.laptop img {
    max-width: 100%;
}

@media (min-width: 768px) {
   .devices section {
        flex-direction: row;
        text-align: left;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }

    .devices .text {
        padding: 1rem;
    }

    .devices img {
        width: 40%;
        max-width: 300px;
        margin-bottom: 0;
    }
    
    .devices h2 {
        font-size: 1.5rem;
    }

    .devices p {
        font-size: 1rem;
        max-width: 400px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .devices section {
        flex-direction: row;        
        justify-content: center;
        align-items: center;
        gap: 4rem;                  
        padding: 3rem 4rem;
        text-align: left;   
        width: 100%;
    }

    .devices img {
        width: 40%;                 
        max-width: 450px;           
    }

    .devices h2 {
        width: 80%;
        font-size: 2rem;            
        margin-bottom: 1rem;
    }

    .devices p {
        font-size: 1.2rem;          
        line-height: 1.7;
        max-width: 600px;
    }

    .laptop img {
        max-width: 95%;
    }
}